.modalContainer {
  position: absolute;
  top: 100px;
  left: 200px;
  background-color: gray;
  color: white;
  opacity: 95%;
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.modalWrapper {
  display: flex;
  justify-content: center;
}

.modalDetails {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 50px 0 0 20px;
  flex: 3;
}

.productDesc {
  text-wrap: wrap;
  text-align: justify;
}

.modalImg {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.modalImg > img {
  height: 50vh;
  max-width: 100%;
  margin: 10px 10px 0 10px;
  object-fit: cover;
  border: 2px solid;
}

.cartBtn {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  border: none;
  font-family: inherit;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #186f65;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.closeModal {
  font-size: 30px;
  color: #7d2410;
  align-self: flex-end;
  margin: 5px 5px 10px 0;
  cursor: pointer;
}

.countProduct {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modalCount {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modalCount.disabled {
  cursor: not-allowed;
  background-color: rgb(154, 152, 152);
}

.counter {
  width: 10px;
}

@media (max-width: 1024px) {
  .modalContainer {
    left: 150px;
  }
  .modalImg > img {
    height: 40vh;
  }
}

@media (max-width: 768px) {
  .modalContainer {
    left: 110px;
  }
  .modalImg > img {
    height: 30vh;
  }
}

@media (max-width: 600px) {
  .modalContainer {
    left: 80px;
  }
  .modalImg > img {
    height: 20vh;
  }
}
